.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.vertical_navbar {
  flex: 1;
  margin-top: 27px;
}

.vertical_navbar a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical_navbar a:hover {
  background-color: #ccc;
}